/* elbe ... */
a {
  color: #555c76;
}
a:hover {
  color: #5b6899;
}
.l-header {
  background: #b1aaa6 url("../img/scenery-1.jpg") 50% 10% no-repeat;
  background-size: cover;
}
.menu-dropdown ul {
  background: #dcd6cb;
}
.block-hero,
.l-footer {
  color: #fff;
  background-color: #918d87;
}
.l-header .block-content,
.l-header .block-content a {
  color: #fff;
}
.block-hero h2,
.block-hero h3,
.block-hero a {
  color: #fff;
}
.site-name span {
  color: #f7f7f7;
  text-shadow: 0 4px 10px #0008;
}
.l-header .block-content,
.l-header .block-content a {
  color: #fff;
}
.l-header .menu-dropdown a {
  background-color: #fffa;
  color: #000;
}
.header-menu .links a:hover {
  outline: 1px solid;
}
.l-page-title .page-title {
  color: #7d7771;
}
.l-page-title {
  border-bottom: 1px solid #9d8f77;
}
.front .l-page-title {
  border-bottom: 0;
}
.l-footer a,
.l-footer h2,
.l-footer h3 {
  color: #fff;
}
h1,
h2,
h3 {
  color: #666;
}
.button,
input.form-submit,
input.button-primary,
button.button-primary,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #fff;
  background-color: #6c6965;
}
.button:hover,
.button:focus,
input.form-submit:hover,
input.form-submit:focus,
input.button-primary:hover,
input.button-primary:focus,
button.button-primary:hover,
button.button-primary:focus,
.ui-state-default:hover,
.ui-state-default:focus,
.ui-widget-content .ui-state-default:hover,
.ui-widget-content .ui-state-default:focus,
.ui-widget-header .ui-state-default:hover,
.ui-widget-header .ui-state-default:focus {
  color: #fff;
  background-color: #8a8782;
  box-shadow: 0 0 0 3px #8a8782;
}

.pager li a {
  background-color: #6c6965;
  color: #fff;
}
.pager li a:hover,
.pager li a:focus {
  background-color: #8a8782;
  box-shadow: 0 0 0 3px #8a8782;
}
