/* very green */
a {
  color: #5f733a;
}
a:hover {
  color: #718c3e;
}
.l-header {
  background: #749032 url("../img/scenery-2.jpg") 50% 0 no-repeat;
  background-size: cover;
}
.menu-dropdown ul {
  background: #c4cdb6;
}
.header-menu .links a {
  background-color: #6a7151a3;
}
.l-footer {
  color: #fff;
  background-color: #6a7151;
}
.l-header .block-content,
.l-header .block-content a {
  color: #fff;
}
.block-hero,
.block-hero h2,
.block-hero a {
  color: #ecf7c4;
}
.block-hero {
  background-color: #6a7151;
}
.site-name span {
  color: #ecf7c4;
  text-shadow: 0 4px 10px #0008;
}
.l-header .block-content,
.l-header .block-content a {
  color: #ecf7c4;
}
.l-header .menu-dropdown a {
  background-color: #fffa;
  color: #000;
}
.header-menu .links a:hover {
  outline: 1px solid;
}
.l-page-title .page-title,
.block-system-title-combo .page-title {
  border-bottom: 1px solid #717769;
}
.l-footer a,
.l-footer h2 {
  color: #fff;
}
h1,
h2 {
  color: #717769;
}
.comment-header::before {
  background: #5f733a;
}

.button,
input.form-submit,
input.button-primary,
button.button-primary,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #fff;
  background-color: #566047;
}
.button:hover,
.button:focus,
input.form-submit:hover,
input.form-submit:focus,
input.button-primary:hover,
input.button-primary:focus,
button.button-primary:hover,
button.button-primary:focus,
.ui-state-default:hover,
.ui-state-default:focus,
.ui-widget-content .ui-state-default:hover,
.ui-widget-content .ui-state-default:focus,
.ui-widget-header .ui-state-default:hover,
.ui-widget-header .ui-state-default:focus {
  color: #fff;
  background-color: #6c775a;
  box-shadow: 0 0 0 3px #6c775a;
}
.pager li a {
  background-color: #566047;
  color: #fff;
}
.pager li a:hover,
.pager li a:focus {
  background-color: #6c775a;
  box-shadow: 0 0 0 3px #6c775a;
}
